{% extends "base.html" %}
{% block content %}

<h2 class="text-center">Add New Review</h2>

<!--New Form-->

<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Submit New Review</p>

    <!-- Artist -->
      <label for="artist_name">Add Artist Name</label>
    <input id="artist_name" name="artist_name" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" required class="form-control validate mb-4">
                  

    <!-- Track -->
    <label for="track_title">Add Track Title</label>
    <input id="track_title" name="track_title" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" required class="form-control validate mb-4">
                    


    <!-- Album -->
    <label for="album_title">Add Album title</label> 
    <input id="album_title" name="album_title" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" required class="form-control validate mb-4">
                                  

    

    <!-- Genre Sub Category -->
<label for="genre">Select Track Genre</label>
    <label>Genre</label>
    <select id="genre" name="genre" class="browser-default custom-select mb-4" required>
        <option value="" disabled>Choose Genre </option>
        {% for genre in genre %}
        <option value="{{genre.genre}}">{{genre.genre}} </option>
        {% endfor %}
        
    </select>

    <!-- Review -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>



    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>



<!--End Form-->



<form class="card-body" method="POST" action="{{ url_for('register')}}">
<div class="row">
<div class="col">

    <select class="browser-default custom-select">
        <h2>genres</h2>
        <label for="genre">Review Genre</label>
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
    
</div>

</div>

    <!-- Review Name -->

    <div class="row">
        <div class="col">
            <div class="form-outline mb-4">
                <i class="fas fa-user-plus"></i>
                <input id="artist_name" name="artist_name" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required />
                <label for="artist_name">Add Artist name</label>
            </div>
        </div>
    </div>

    <!-- Track Title -->

    <div class="row">
        <div class="col">
            <div class="form-outline mb-4">
                <i class="fas fa-user-plus"></i>
                <input id="track_title" name="track_title" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required />
                <label for="track_title">Add Track name</label>
            </div>
        </div>
    </div>

    <!-- Album Title -->
 <div class="row">
        <div class="col">
            <div class="form-outline mb-4">
                <i class="fas fa-user-plus"></i>
                <input id="album_title" name="album_title" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required />
                <label for="album_title">Add Album name</label>
            </div>
        </div>
    </div>


    <!-- Review-->
    <div class="row">
        <div class="col">
            <div class="form-group shadow-textarea">
                <label for="review">Add review of track here.</label>
                <textarea class="form-control z-depth-1" id="review" name="review" rows="3" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" placeholder="your review..."></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Submit review-->
        <button type="submit" class="btn btn-dark pill-btn ">Submit Review <i class="fas fa-sign-in-alt"></i></button>

    </div>

</form>

{% endblock %}