{% extends "base.html" %}
{% block content %}

<h2 class="text-center">Add New Review</h2>

<!--New Form-->

<form class="text-center border border-light p-5" method="POST" action="{{ url_for('add_review') }}">

    <p class="h4 mb-4">Submit New Review</p>

    <!-- Artist -->
    <label for="artist_name">Add Artist Name</label>
    <input id="artist_name" name="artist_name" type="text" minlength="3" maxlength="50" required
        class="form-control validate mb-4">
    <!-- Track -->
    <label for="track_title">Add Track Title</label>
    <input id="track_title" name="track_title" type="text" minlength="3" maxlength="50" required
        class="form-control validate mb-4">

    <!-- Album -->
    <label for="album_title">Add Album title</label>
    <input id="album_title" name="album_title" type="text" minlength="3" maxlength="50" required
        class="form-control validate mb-4">


    <!-- Genre Sub Category -->
    <label for="genre">Select Track Genre</label>
    <label>Genre</label>
    <select id="genre" name="genre" class="browser-default custom-select mb-4 " required>
        {% for genre in genre %}
        <option value="{{genre.genre}}">{{genre.genre}} </option>
        {% endfor %}

    </select>

    <!-- Review -->
    <div class="form-group">
        <label for="review">Review</label>
        <textarea class="form-control rounded-0" id="review" name="review" rows="3"
            placeholder="Add your review here."></textarea>
    </div>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>

<!--End Form-->
{% endblock %}