{% extends "base.html" %}
{% block content %}

<h2 class="text-center">Edit Review</h2>

<!--New Form-->

<form class="text-center border border-light p-5" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">

    <p class="h4 mb-4">EDIT YOUR Review</p>

    <!-- Artist -->
    <label for="artist_name">EDIT Artist Name</label>
    <input id="artist_name" name="artist_name" value="{{ review.artist_name }}" type="text" minlength="3" maxlength="50" required
        class="form-control validate mb-4">
    <!-- Track -->
    <label for="track_title">EDIT Track Title</label>
    <input id="track_title" name="track_title" value="{{ review.track_title }}" type="text" minlength="3" maxlength="50" required
        class="form-control validate mb-4">

    <!-- Album -->
    <label for="album_title">EDIT Album title</label>
    <input id="album_title" name="album_title" value="{{ review.album_title }}" type="text" minlength="3" maxlength="50" required
        class="form-control validate mb-4">

        <!-- Artwork -->
    <label for="artwork">Artwork</label>
    <input id="artwork" placeholder="Enter Artwork URL" name="artwork" type="text" pattern="https://.*" required
        class="form-control validate mb-4">


    <!-- Genre Sub Category -->
    <label for="genre">EDIT Track Genre</label>
    <label>Genre</label>
    <select id="genre" name="genre" class="browser-default custom-select mb-4 " required>
        {% for genre in genre %}
            
        <option value="{{genre.genre}}">{{genre.genre}} </option>
            
        {% endfor %}

    </select>

    <!-- Review -->
    <div class="form-group">
        <label for="review">Review</label>
        <textarea class="form-control rounded-0" id="review" name="review" rows="3"
            placeholder="Add your review here.">{{ review.review }}</textarea>
    </div>

<!-- Hot or not -->
    <label for="hot_not">Hot or Not</label>
    <select class="mdb-select md-form form-control" id="hot_not" name="hot_not" required  >
        
  <option value="" disabled selected>Choose a Chilli Rating - 1 not 5 Hot</option>
  <option value="1">1. </option>
  <option value="2">2.</option>
  <option value="3">3.</option>
  <option value="4">4.</option>
  <option value="5">5.</option>
</select>

<!-- cancel button -->
                    <a href="{{ url_for('get_reviews') }}" class="btn btn-sm  ">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
    <!-- Send button -->
    <button class="btn btn-sm " type="submit">AMMEND</button>

</form>

<!--End Form-->
{% endblock %}