{% extends "base.html" %}
{% block content %}

<h3 class="text-center">Admin - Genre Management System.</h3>
<!-- Card -->


<div class="container-fluid">
    <div class="container-max">
        <div class="row">

            {% for genre in genres %}
            <div class="col-md-6 spacer">
                <div class="card">
                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>{{genre.genre}}</a></h4>
                        <h4 class="card-title"><a></a></h4>

                        <!-- Button -->
                        <a href="{{ url_for('edit_genre', genre_id=genre._id) }}" class="btn btn-dark">Edit Genre</a>
                        <a href="{{ url_for('delete_genre', genre_id=genre._id) }}" class="btn btn-dark">Delete
                            Genre</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                <a href="{{ url_for('add_genre')}}" class="btn">Add Genre </a>

            </div>
        </div>
    </div>
</div>
<!-- Card -->

{% endblock %}