{% extends "base.html" %}
{% block content %}

<h3>register</h3>
<div class="container-max">
    <div class="container-fluid">
        <div class="col">
            <div class="card card-img-top">
                <img src="#" class="card-img-top" alt="..." />

                <form class="card-body" method="POST" action="{{ url_for('register')}}" >
                    <!-- Username -->
                    <div class="form-outline mb-4">
                        <i class="fas fa-user-plus"></i>
                        <input id="username" name="username" type="text" class="validate" />
                        <label for="username">Username</label>
                    </div>
                    <!-- Password-->
                    <div class="form-outline mb-4">
                        <i class="fas fa-user-lock"></i>
                        <input id="password" name="password" type="password" class="validate" />
                        <label for="password">Password</label>
                    </div>
                    <div class="row">
                        <!-- Register-->
                        <button type="button" class="btn btn-dark pill-btn ">Register <i
                                class="fas fa-sign-in-alt"></i></button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}