{% extends "base.html" %}
{% block content %}


<div class="container-fluid">
    <div class="container-max">

        <div class="row">
            <div class="col  justify-content-center btn-spacer text-center">
                <h2 class="dm-txt-white"> Reviews</h2>
                <p class="dm-txt-white">Current Reviews available.</p>

                <!-- Search form -->

<div class="row">
    <div class="col ">
                <div class="md-form mt-0">
                    <form action="{{ url_for('search') }}" method="post" class="col">
                        <input class="form-control validate" name="query" id="query" minlength="3" required
                            placeholder="Search" aria-label="Search">

                        <button type="submit" class="btn btn-dark pill-btn">
                            <i class="fas fa-search left"></i> Search
                        </button>
                        <a href="{{ url_for('get_reviews') }}" class="btn btn-dark pill-btn">Reset</a>
                    </form>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>

   <div class="container-fluid">
    <div class="container-max">
       <div class="row">
{% if reviews|length > 0 %}

<!-- Card container for reviews. Clean up, instead of accordion.-->


        
          
    {% endblock %}